@tailwind base;
@tailwind components;
@tailwind utilities;



.background-grid {
    --color: #999;
    --square-size: 50px;
    --line-width: 0.8px;
    background-image: linear-gradient(var(--color) var(--line-width), transparent var(--line-width)), linear-gradient(90deg, var(--color) var(--line-width), transparent var(--line-width));
    background-size: var(--square-size) var(--square-size);
    border: var(--line-width) solid var(--color);
}